
/* Main Page */

html {
  overflow-x: hidden;
}

body {
  background-image: url(img/new.png);
  background-size: cover;
}

/*
*/



  /* Hero */

      #Herotext h2 {
        font-size: 50px;
      }

      #Herotext  {
        color: white;
        text-align: center;
        padding-bottom: 36%;
        padding-top: 320px;
        text-shadow: 3px 3px 6px #000000;
        font-size: 50px;
      }

      #heroSubHead {
        color: white;
        text-align: center;
      }

  /*
  */


  /* About */

      #infoCol {
        padding-left: 0%;
        padding-right: 0%;
        text-align: left;
        font-size: 20px;
        margin-bottom: 20%;

      }

      #pinfo  {
        color: white;
        text-align: left;
        margin-left: 20px;
        text-align: left;
        padding-right: 15%;
      }


      .icons {
        margin-bottom: 15px;
        margin-left: px;
        text-align: center;

      }

      #iconText {
        font-size: 35px;
        margin-left: 10%;
        color: white;
      }

      #OSButton {
        color: white;
        background-color: #00ace6;
        border: none;
        padding: 20px;
        border-radius: 20px;
        font-size: 30px;
        margin-top: 20px;
        margin-left: 20px;
        transition-duration: 0.5s;
      }

      #OSButton:hover {
        background-color: #00accc;
      }

  /*
  */

  /* News */

      #ReadMore:hover {
        background-color: #bf5a1d;
        transition: 0.3s;
      }

      #ReadMore {
        font-size: 23px;
        margin-left: 0%;
        margin-top: 2%;
        background-color: black;
        border: none;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 2%;
        padding-bottom: 2%;
      }

      #bigNews {
        margin-bottom: 20%;
      }

      #MainNewsTitle {
        font-size: 70px;
        margin-left: 0%;
        background-color: #bf5a1d;
        color: white;
        padding: 2%;
        border-radius: 5px;
        margin-right: 70%;
      }

      #OctDisc {
        margin-top: 2%;
        margin-left: 0%;
        padding-right: 50%;
        font-size: 20px;
        color: white;
      }

      #BigContent {
        padding: 5%;
        color: black;
      }

      #innerBod {
        padding: 6%;
        color: white;
      }

      #modHead {
        margin-bottom: 3%;
        font-size: 50px;
      }

      #modInBod {
        background-color: #dbad91;
        background-image: url(img/paper.webp);
        background-size: cover;
        border: none;
        border-radius: 20px;
      }


      .sec {
        margin-bottom: 6%;
      }

      .subHead {
        font-size: 35px;
        margin-bottom: 3%;
      }

      #modPic {
        margin-bottom: 10%;
      }

      #modAllPics {
        margin-left: 5%;
      }

      #closeBut {
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #bf5a1d;
        border: none;
        font-size: 25px;
      }

      #closeBut:hover {
        background-color: #bf5000;
      }

      #OldNews {
        margin-bottom: 15%;
      }

      #ModeIMG {
        border-radius: 10px;
        margin-left: 2%;
        margin-top: 2%;
        margin-bottom: 2%;
      }

  /*
  */

  /* Store */

      #TeaserSquares {
        margin-bottom: 20%;
        background-color: #662222;
        padding: 20px;
        border-radius: 15px;
      }

      #indivPic {

        margin-bottom: 7%;
        border-radius: 10px;

      }

      #store {
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
        font-size: 80px;
        padding-bottom: 5%;
        text-shadow: 3px 3px 6px #000000;

      }

      .item {
        background-color: #662222;
        border-radius: 10px;
        margin-left: 10%;
        margin-right: 10%;
        padding: 30px;
        margin-bottom: 90px;
        box-shadow: 5px 7px 15px #000000;

      }

      .item, #info, #store {
        color: white;
      }

      .item p {
       font-family: 'Roboto';

      }

      .item img {
       border-radius: 15px;

      }

      #I1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
      }


      #name {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
      }

      #price {
        text-align: left;
        margin-right: 20px;
        margin-top: 20px;
        font-size: 20px;
      }

      #allIs {
        margin-bottom: 150px;
      }

      #red {
        font-size: 120px;
      }

  /*
  */

  /* Footer */

  #bottom {
    background-color: black;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 29%;
    padding-right: 15%;
  }

  /*
  */




.item, .subHead, #modHead, #closeBut, #store, #OSButton, #Herotext, #iconText, #MainNewsTitle, #ReadMore {
    font-family: 'Odibee Sans', cursive;
}




/* Mobile */

.container {
  flex-wrap: wrap;
}


.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-left {
  width: 95%;
  margin: 5px;
  padding: 5px;
}

.flex-right {
  width: 95%;
  margin: 5px;
  padding: 5px;
}


@media (max-width: 700px) {

  /* Hero */

      #Herotext {
        padding-top: 200px;
      }

      #Herotext h2 {
        font-size: 20px;
      }

      #heroSubHead {
        font-size: 20px;
      }

      #typelogo {
        height: 100px;
        width: 350px;
      }

  /* About */


      #pinfo {
        font-size: 15px;
      }

      #infoCol {
        margin-bottom: 10px;
        margin-left: 5%;
      }

      .icons {
        width: 120px;
        height: 120px;
      }

      #AllIcons {
        margin-bottom: 20%;
      }

      #iconText {
        font-size: 25px;
        margin-left: 0%;
      }

      #OSButton {
        font-size: 20px;
        margin-top: 5%;
        margin-bottom: 20%;
      }



  /* News */

      #bigNews {
        margin-bottom: 5%;
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
      }

      #MainNewsTitle {
        font-size: 28px;
      }

      #OctDisc {
        font-size: 10px;
        padding-right: 25%;
      }

      #ReadMore {
        font-size: 10px;
        margin-left: 0%;
        padding-left: 20%;
        padding-right: 20%;
      }

      #ReadMore:Hover {
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 2%;
        padding-bottom: 2%;
      }

      #modInBod {
        padding: 4%;
      }

      #modOutBod {
        margin: 7%;
      }

      #modHead {
        font-size: 30px;

      }

      .subHead {
        font-size: 18px;
      }

      .card-text {
        font-size: 12px;
      }




  /* Store */

      .pics {
        margin: 10%;
        align-items: center;
      }

      #store {
        font-size: 35px;
        padding-bottom: 25px;
        margin-top: 40%;
      }

      #name {
        font-size: 20px;
        margin-left: 50%;
      }

      .item {
        border-radius: 10px;
      }

      #item p {
        font-size: 25px;
      }

      #indivPic {
        width: 240pxem;
      }

      #I1 {
        width: 200px;
        height: 240px;
      }

      #price {
        margin-right: 5%;
      }



  /* Footer */


      #bottom img {
        height: 40px;
        width: 40px;
      }

      #bottom {
        padding-left: 22%;
        padding-top: 10%;
        padding-bottom: 10%;
      }

      #twit {
        width: 30px;
        height: 30px;
      }


  .flex-container {
    flex-direction: column;
  }


}
