
/* Main Page */

body {
  background-image: url(img/new.png);
  background-size: cover;
  overflow-x: hidden;
}

html, body {
  overflow-x: hidden;
}

body {
  position: relative;
}

/*
*/



  /* Hero */

      #Herotext h2 {
        font-size: 50px;
      }

      #Herotext  {
        color: white;
        text-align: center;
        padding-bottom: 36%;
        padding-top: 320px;
        text-shadow: 3px 3px 6px #000000;
        font-size: 50px;
      }

      #heroSubHead {
        color: white;
        text-align: center;
      }

  /*
  */


  /* About */

      #infoCol {
        padding-left: 0%;
        padding-right: 0%;
        text-align: left;
        font-size: 20px;
        margin-bottom: 20%;

      }

      #pinfo  {
        color: white;
        text-align: left;
        margin-left: 20px;
        text-align: left;
        padding-right: 15%;
      }


      .icons {
        margin-bottom: 15px;
        margin-left: 5%;
        text-align: center;

      }

      #iconText {
        font-size: 35px;
        margin-left: 10%;
        color: white;
        text-align: center;
      }

      #OSButton {
        color: white;
        background-color: #00ace6;
        border: none;
        padding: 20px;
        border-radius: 20px;
        font-size: 30px;
        margin-top: 20px;
        margin-left: 20px;
        transition-duration: 0.5s;
      }

      #OSButton:hover {
        background-color: #00accc;
      }

  /*
  */

  /* Sekai */

      #SekaiofDay {

        background-image: url(img/Panels.jpeg);
        background-size: cover;
        background-position: center;
        padding: 10%;
        padding-left: 30%;
        padding-right: 30%;
        margin-right: -28%;
        margin-left: -28%;
        margin-bottom: 20%;
        border-radius: 15px;

      }

      #SekaiHead {
        text-align: right;
        margin-right: 36%;
        margin-bottom: 4%;
        color: white;
        text-shadow: 2px 2px 8px #000000;
        font-size: 60px;

      }

      #tokenNum {
        color: white;
        font-size: 50px;
        margin-left: 4%;
        margin-top: 5%;
        margin-bottom: 4%;
        font-weight: bold;
        text-shadow: 2px 2px 8px #000000;
      }

      #SekaiShot {

        border-radius: 10px;
        margin-bottom: 5%;
        box-shadow: 2px 2px 8px #000000;

      }


        .SS {

          width: 168%;

        }

        .in {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 50;
          height: 94%;
          width: 146%;
          opacity: 0;
          border-radius: 10px;
          transition: .5s ease;
          background-color: #008CBA;
        }

        .out:hover .in {
          opacity: 1;
        }

        .Ttext {
          color: white;
          font-size: 40px;
          position: absolute;
          top: 65%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          text-align: center;
        }

        .OSHov {

          position: absolute;
          top: 45%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          text-align: center;

        }



      #SekaiLeft {
        margin-right: 15%;
      }

      .trait {

        background-color: white;
        border-radius: 5px;
        text-align: center;
        padding: 5%;
        margin-bottom: 8%;
        padding-top: 12%;
        padding-bottom: 7%;
        box-shadow: 2px 2px 8px #000000;


      }

      .Tname {

        color: black;
        font-size: 20px;
        font-weight: bold;

      }

      .Tvalue {

        color: black;
        font-size: 17px;


      }

      .Trarity {

        color: black;
        font-size: 12px;
        font-weight: bold;

      }

  /*
  */

  /* News */

      #ReadMore:hover, #ReadMore2:hover {
        background-color: #6e1616;
        transition: 0.3s;
      }

      #ReadMore {
        font-size: 23px;
        margin-left: 0%;
        margin-top: 2%;
        background-color: black;
        border: none;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 2%;
        padding-bottom: 2%;
      }

      #ReadMore2 {
        font-size: 19px;
        margin-left: 0%;
        margin-top: 2%;
        background-color: black;
        border: none;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 2%;
        padding-bottom: 2%;
      }

      #bigNews {
        margin-bottom: 10%;
        background-image: url(img/homePageSnow3.webp);
        background-size: cover;
        padding: 10%;
        border-radius: 10px;
      }

      #bigNews2MOB {
        margin-bottom: 10%;
        background-image: url(https://www.isekaimeta.com/_next/image?url=%2Fassets%2Fmuseum%2Faswang.webp&w=3840&q=100);
        background-size: cover;
        background-position: bottom;
        padding: 10%;
        border-radius: 10px;
      }

      #bigNews3MOB {
        margin-bottom: 10%;
        background-image: url(img/hands.jpeg);
        background-size: cover;
        padding: 10%;
        border-radius: 10px;
      }


      #MainNewsTitle {
        font-size: 70px;
        margin-left: 0%;
        background-color: #6e1616;
        color: white;
        padding: 2%;
        border-radius: 5px;
        margin-right: 57%;
      }

      #OctDisc {
        margin-top: 2%;
        margin-left: 0%;
        padding-right: 40%;
        font-size: 20px;
        color: white;
        text-shadow: 2px 2px 4px #000000;
      }

      #BigContent {
        padding: 8%;
        color: black;
      }

      #innerBod {
        padding: 10%;
        color: white;
      }

      #modHead {
        font-size: 60px;
        text-align: center;
        margin-bottom: 7%;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
        background-color: #bf5a1d;
        border-radius: 10px;
        padding-top: 3%;
        padding-bottom: 3%;
        margin-left: -1%;
        margin-right: -1%;
      }

      #modInBod {
        background-color: #dbad91;
        background-image: url(img/paper.png);
        background-size: cover;
        border: none;
        border-radius: 20px;
      }


      .sec {
        margin-bottom: 6%;
      }

      .subHead {
        font-size: 35px;
        margin-bottom: 3%;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
      }

      #sideModalPic, #sideModalPicH {
        margin-top: 4%;
        margin-bottom: 5%;
        border-radius: 10px;
        justify-content: center;
      }

      #sideModalPicH {
        display: none;
      }

      #sideModalPic2 {
        border-radius: 5px;
        margin-left: -8%;
      }

      #sideModalPic3 {
        border-radius: 5px;
        margin-left: 5%;
        margin-bottom: 15%;
      }


      #modAllPics {
        margin-left: 5%;
      }

      #closeBut {
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #bf5a1d;
        border-radius: 10px;
        border: none;
        font-size: 25px;
      }

      #closeBut:hover {
        background-color: #bf5000;
      }

      #OldNews {
        margin-bottom: 20%;
      }

      #ModeIMG {
        border-radius: 10px;
        margin-left: 2%;
        margin-top: 2%;
        margin-bottom: 2%;
      }

      #innerBod p, #innerBod ol, .subHead2, .subHead3, .subHead5 {
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);

      }

      #bigNews2MOB, #bigNews3MOB {
        display: none;
      }

      #subTopHead {
        font-size: 22px;
        margin-bottom: 10%;
        margin-top: 5%;
        text-align: center;
        line-height: 1.3;
      }

      .subHead2, .subHead3 {
        font-size: 25px;
        margin-top: 4%;
      }

      .subHead5 {
        font-size: 24px;
        text-align: center;

        margin-top: 4%;
      }

      #vizC {
        text-align: right;
        margin-right: 10%;
        margin-top: 10%;
        margin-left: -10%;
      }

      #botG {
        margin-bottom: 5%;
      }

      #botG2 {
        margin-bottom: 8%;
      }

      #indentP {
        margin-left: 7%;
      }

      #CareersButt {
        color: white;
        background-color: #bf5a1d;
        border: none;
        padding: 12px;
        padding-right: 50px;
        padding-left: 50px;
        border-radius: 10px;
        font-size: 20px;
        margin-top: 20px;
        margin-left: 44%;
        transition-duration: 0.5s;
      }

      #CareersButt:hover {
        background-color: #bf5000;
      }

  /*
  */

  /* Store */

      #TeaserSquares {
        margin-bottom: 20%;
        background-color: #662222;
        padding: 20px;
        padding-top: 30px;
        border-radius: 15px;
      }

      #indivPic {

        margin-bottom: 7%;
        border-radius: 10px;

      }

      #store {
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
        font-size: 80px;
        padding-bottom: 5%;
        text-shadow: 3px 3px 6px #000000;

      }

      .item {
        background-color: #662222;
        border-radius: 10px;
        margin-left: 10%;
        margin-right: 10%;
        padding: 30px;
        margin-bottom: 90px;
        box-shadow: 5px 7px 15px #000000;

      }

      .item, #info, #store {
        color: white;
      }

      .item p {
       font-family: 'Roboto';

      }

      .item img {
       border-radius: 15px;

      }

      #I1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
      }


      #name {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
      }

      #price {
        text-align: left;
        margin-right: 20px;
        margin-top: 20px;
        font-size: 20px;
      }

      #allIs {
        margin-bottom: 150px;
      }

      #red {
        font-size: 120px;
      }

  /*
  */

  /* Footer */

  #version {
    color: white;
    font-size: 12px;
    margin-left: -24%;
  }

  #bottom {
    background-color: black;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 29%;
    padding-right: 15%;
  }

  #bottom2 {
    background-color: black;
    padding-bottom: 1%;
    padding-left: 22%;
  }

  /*
  */




.item, .Ttext, .subHead, .subHead2, .subHead3, .subHead5, #CareersButt, #SekaiHead, #modHead, #closeBut, #store, #OSButton, #Herotext, #iconText, #MainNewsTitle, #ReadMore, #ReadMore2 {
    font-family: 'Odibee Sans', cursive;
}




/* Mobile */

.container {
  flex-wrap: wrap;
}


.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-left {
  width: 95%;
  margin: 5px;
  padding: 5px;
}

.flex-right {
  width: 95%;
  margin: 5px;
  padding: 5px;
}


@media (max-width: 700px) {

  /* Hero */

      #Herotext {
        padding-top: 200px;
      }

      #Herotext h2 {
        font-size: 20px;
      }

      #heroSubHead {
        font-size: 20px;
      }

      #typelogo {
        height: 100px;
        width: 350px;
      }

  /* About */


      #pinfo {
        font-size: 15px;
      }

      #infoCol {
        margin-bottom: 10px;
        margin-left: 10%;
      }

      .icons {
        width: 120px;
        height: 120px;
        margin-left: -2%;
      }

      #AllIcons {
        margin-bottom: 17%;
        margin-left: 0%;
      }

      #iconText {
        font-size: 25px;
        margin-left: -13%;
        text-align: center;
      }

      #OSButton {
        font-size: 20px;
        margin-top: 5%;
        margin-bottom: 20%;
      }


  /* Sekai */

      #SekaiofDay {

        background-image: url();
        background-size: cover;
        background-position: center;
        padding: 10%;
        padding-left: 0%;
        padding-right: 0%;
        margin-right: 3%;
        margin-left: 3%;
        margin-bottom: 60%;
        margin-top: 25%;

      }

      #SekaiBox {
        margin-bottom: 30%;
      }

      #SekaiHead {
        text-align: center;
        margin-right: 5%;
        margin-bottom: 4%;
        color: white;
        text-shadow: 2px 2px 8px #000000;
        font-size: 30px;

      }

      #tokenNum {
        color: white;
        font-size: 25px;
        margin-bottom: 4%;
        margin-top: 0%;
        margin-left: 10%;
        font-weight: bold;
        text-shadow: 2px 2px 8px #000000;
      }

      #SekaiShot {

        border-radius: 10px;
        margin-top: 0%;
        box-shadow: 2px 2px 8px #000000;
        width: 100%;

      }


        .SS {

          width: 105%;

        }

        .in {
          position: relative;
          top: 50;
          bottom: 100;
          right: 50;
          height: 105%;
          width: 130%;
          opacity: 0;
          border-radius: 10px;
          transition: .5s ease;
          background-color: #008CBA;
        }

        .out:hover .in {
          opacity: 0;
        }

        .Ttext {
          color: white;
          font-size: 40px;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          text-align: center;
        }

        .OSHov {

          left: 13%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          text-align: center;

        }



      #SekaiLeft {
        margin-right: 0%;
      }

      .trait {

        background-color: white;
        border-radius: 5px;
        text-align: center;
        padding: 5%;
        margin-bottom: 2%;
        padding-top: 8%;
        padding-bottom: 6%;
        box-shadow: 2px 2px 8px #000000;


      }

      .Tname {

        color: black;
        font-size: 20px;
        font-weight: bold;

      }

      .Tvalue {

        color: black;
        font-size: 17px;


      }

      .Trarity {

        color: black;
        font-size: 12px;
        font-weight: bold;

      }

      #T1 {
        margin-bottom: 104%;
        margin-top: 100%;
      }

      #T2  {
        margin-bottom: 104%;
      }

      #T3  {
        margin-bottom: 54%;
      }




  /* News */

      #bigNews {
        margin-bottom: 5%;
        margin-top: 10%;
        margin-left: 6%;
        margin-right: 7%;
        padding-top: 20%;
        padding-bottom: 20%;
      }

      #bigNews2MOB {
        margin-bottom: 5%;
        margin-top: 10%;
        margin-left: 6%;
        margin-right: 7%;
        padding-top: 20%;
        padding-bottom: 20%;
      }

      #bigNews3MOB {
        margin-bottom: 30%;
        margin-top: 10%;
        margin-left: 6%;
        margin-right: 7%;
        padding-top: 20%;
        padding-bottom: 20%;
      }


      #MainNewsTitle {
        font-size: 36px;
        margin-right: 15%;
      }

      #OctDisc {
        font-size: 14px;
        padding-right: 25%;
      }

      #ReadMore {
        font-size: 16px;
        margin-left: 0%;
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 4%;
        padding-bottom: 4%;
      }

      #ReadMore:Hover {
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 4%;
        padding-bottom: 4%;
      }

      #modInBod {
        padding: 4%;
      }

      #modOutBod {
        margin: 7%;
      }

      #modHead {
        font-size: 50px;
        text-align: center;
        margin-bottom: 7%;

      }

      .subHead {
        font-size: 25px;
      }

      .card-text {
        font-size: 12px;
      }

      #innerBod p {
        font-size: 13px;

      }

      #OldNews {
        display: none;
      }

      #bigNews2MOB {
        display: block;
      }

      #bigNews3MOB {
        display: block;
      }

      .subHead2 {
        font-size: 25px;
        margin-top: 4%;
      }

      .subHead3 {
        font-size: 18px;
        margin-top: 4%;
      }

      .subHead5 {
        font-size: 18px;
        margin-top: 4%;
        text-align: center;
      }

      #sideModalPic2 {
        border-radius: 5px;
        margin-left: 4%;
        width: 10%;
      }

      #sideModalPic3 {
        border-radius: 5px;
        margin-left: 5%;
        margin-bottom: 10%;
      }


      #sideModalPicH {
        display: block;
      }

      #botG2 {
        margin-bottom: 9%;
      }

      #CareersButt {
        color: white;
        background-color: #bf5a1d;
        border: none;
        padding: 10px;
        padding-right: 25px;
        padding-left: 25px;
        border-radius: 10px;
        font-size: 13px;
        margin-top: 20px;
        margin-left: 15%;
        transition-duration: 0.5s;
      }





  /* Store */

      .pics {
        margin: 10%;
        margin-left: 10%;
        margin-right: 6%;
        align-items: center;
      }

      #store {
        font-size: 35px;
        padding-bottom: 25px;
        margin-top: 40%;
      }

      #name {
        font-size: 20px;
        margin-left: 50%;
      }

      .item {
        border-radius: 10px;
      }

      #item p {
        font-size: 25px;
      }

      #indivPic {
        width: 250px;
      }

      #price {
        margin-right: 5%;
      }



  /* Footer */


      #bottom img {
        height: 40px;
        width: 40px;
      }

      #bottom {
        padding-left: 22%;
        padding-top: 10%;
        padding-bottom: 10%;
      }

      #bottom2 {
        padding-left: 25%;
      }

      #twit {
        width: 30px;
        height: 30px;
      }


  .flex-container {
    flex-direction: column;
  }


}
